<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th>編集</th>
			<th>削除</th>
			<th>返信</th>
			<th>コメント</th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<td><a th:href="@{/edit/{id}(id=${content.id})}"><button
						type="button">編集</button></a></td>
			<td>
				<form th:action="@{/delete/{id}(id=${content.id})}"
					th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>
			<td><a
				th:href="@{/comment/{report_id}(report_id=${content.id})}"><button
						type="button">返信</button></a></td>

			<!-- 以下コメント読み込み部 -->
			<td>
				<table border="1">
					<tr th:each="comment : ${comments}">
						<div th:if="${content.id == comment.report_id}">
							<td th:text="${comment.id}"></td>
							<td th:text="${comment.comment}"></td>
							<td><a th:href="@{/commentEdit/{id}(id=${comment.id})}"><button
										type="button">編集</button></a></td>
							<td>
								<form th:action="@{/commentDelete/{id}(id=${comment.id})}"
									th:method="delete">
									<input type="submit" value="削除">
								</form>
							</td>
						</div>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<form action="/search" method="get">
		<div class="sort">
			日付：<input type="date" name="start" th:value="${start}" />～<input
				type="date" name="end" th:value="${end}" /> <input type="submit"
				value="絞り込み">
		</div>
	</form>
</body>
</html>
